doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://kevinburke.bitbucket.org/markdowncss/markdown.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    div.wrapper
      div.head
        div.title
          h1 qiuyu
        ul.nav.icon-menu
          li.blog
            a(href='/') blog
          li.about
            a(href='/about') about
          li.contact
            a(href='/contact') contact
      block content
    div.footer
      ul
        li wuqiuyu
        li blog
        li about
        li contact