doctype html
html
    head
        title= title
        script(src="/javascripts/demo/canvas/particle.js")
        style.
            body {
                overflow:hidden;
                background-image:url(/images/bg.jpg)
                background-size: cover;
            }
    body
        canvas#canvas