block aside
  div.aside
    //- div.box
    //-   h3 Search
    //-   form
    //-     input(type="search",placeholder="search...")
    //-     input(type="submit",value="search")
    div.box
      h3 catagorys
      ul.catagory
        each catagory in catagoryList
          li 
            a(herf='/blog/')= catagory.name
    div.box
      h3 Tags
      ul.tag
        each tag in tagList
          li 
            a(herf='/blog/')= tag.name
    div.box
      h3 Follow Me on
      ul.follow
        li
          a(herf='/blog/').icon-sina-weibo
        li
          a(herf='/blog/').icon-renren
        li
          a(herf='/blog/').icon-linkedin
