block aside
  div.aside
    //- div.box
    //-   h3 Search
    //-   form
    //-     input(type="search",placeholder="search...")
    //-     input(type="submit",value="search")
    div.box
      h3 catagorys
      ul.catagory
        each catagory in catagoryList
          li 
            a(href='/blog/catagory/'+catagory.id)= catagory.name
    div.box
      h3 Tags
      ul.tag
        each tag in tagList
          li 
            a(href='/blog/tag/'+tag.id)= tag.name
    div.box
      h3 Follow Me on
      ul.follow
        li
          a(href='http://weibo.com/2000613821/profile?topnav=1&wvr=6&is_all=1').icon-sina-weibo
        li
          a(href='http://www.renren.com/371158320/profile').icon-renren
        li
          a(href='http://www.linkedin.com/in/wu-qiuyu-452b3282?trk=nav_responsive_tab_profile_pic').icon-linkedin
